[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=09-libsailfish
Exec=09-libsailfish
Name=09-libsailfish
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=09-libsailfish

