[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=04-accelerometer-sample
Exec=04-accelerometer-sample
Name=04-accelerometer-sample
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=04-accelerometer-sample

